<aside class="fixed top-16 w-80 shadow-lg rounded border border-gray-300 h-screen min-h-[calc(100vh_-_4rem)]">
    <ul>
      <li [routerLink]="'/'" class="p-4 cursor-pointer" routerLinkActive=" bg-blue-100 border-l-4 border-blue-500" [routerLinkActiveOptions]="{exact:true}">All Task</li>
      <li [routerLink]="'/important'" class="p-4 cursor-pointer" routerLinkActive=" bg-blue-100 border-l-4 border-blue-500">Important Task</li>
      <li [routerLink]="'/completed'" class="p-4 cursor-pointer" routerLinkActive=" bg-blue-100 border-l-4 border-blue-500">Completed Task</li>
    </ul>
  </aside>